<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Linus Mugera website . Homepage</title>
    <link rel="stylesheet" href="css/admin.css">
  </head>
  <body>
    <div class="menu text-center">
      <div class="wrapper">
<ul>
  <li> <a href="index.html">Home</a></li>
  <li> <a href="education.html">Education</a></li>
  <li> <a href="skills.html">Skills</a></li>
  <li> <a href="">Career</a></li>
  <li> <a href="">About me</a></li>
  <li> <a href="">Contact</a></li>
  <li> <a href="">Achievement</a></li>
</ul>
      </div>

    </div>
  </body>
</html>
